<div class="container">
    <div class="row justify-content-center align-items-center">
        <div class="col-md-8">
            <div class="card">
                <img src="../../../../assets/Img/H_electro.svg" class="card-img-top offset-2">
                <div class="card-body">
                    <h2 class="text-center" style="margin-top: -20px;">Querido Usuario</h2>
                    <h5 class="mt-3 mb-3 text-center">¡Bienvenido al Módulo de Informes!</h5>
                    <h6 class="text-center">En este apartado podrá visualizar todo lo relacionado a los <b>Informes</b>.</h6>
                </div>
            </div>
        </div>
    </div>
</div>



<!-- Modal -->
<div class="modal fade" id="contrasena" tabindex="-1" aria-labelledby="exampleModalLabel" aria-hidden="true"
    data-bs-backdrop="static">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h1 class="modal-title fs-5" id="exampleModalLabel">Cambia Tu Contraseña Para Continuar</h1>
            </div>
            <div class="modal-body">
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Escribe Tu Correo De Usuario</label>
                    <input [(ngModel)] = "nuevaContrasena.correo" type="email" class="form-control" id="exampleFormControlInput1" name="correo" placeholder="Correo">
                </div>
                <div class="mb-3">
                    <label for="exampleFormControlInput1" class="form-label">Escribe la Nueva Contraseña</label>
                    <input [(ngModel)] = "nuevaContrasena.contrasena" type="password" class="form-control" id="exampleFormControlInput1" placeholder="Contraseña" name="contrasena" (keyup.enter)="actualizarContrasena()">
                </div>
            </div>
            <div class="modal-footer">
                <button (click)="actualizarContrasena()" type="button" class="btn btn-danger">Actualizar</button>
            </div>
        </div>
    </div>
</div>