
<div class="container">
    <div class="row text-center">
        <div class="col-md-6 offset-3">
            <div class="card" style="width: 30rem;">
                <img src="../../../../assets/Img/H_electro.svg" class="card-img-top offset-2">
                <div class="card-body">
                    <h2 style="margin-top: -20px;">Querido Usuario</h2>
                    <h5 class="mt-3 mb-3">¡Bienvenido al Módulo de Informes!</h5>
                    <h6>En este apartado podrá visualizar todo lo relacionado a los <b>Informes</b>.</h6>
                </div>
              </div>
        </div>
    </div>
</div>