.navbar {
    background-color: dark;
    background: #dfe2e5;
    box-shadow: 5px 5px 5px #707274, -14px 5px 5px 5px #ffffff;
  }
  
  .navbar-nav {
    display: flex;
  }

  .icon{
    size: 20px;
    color: #960010;
    width: 100px;
    cursor: pointer;
  }

  img{

  }
  
  .dropdown-item:hover{
    background-color: #960010;
    color: white;
  }

  @media (max-width: 576px) {
    img{
      width: 50%;
    }
}

