<div class="container">
    <div class="imagen-portada">
        <img src="../../../../../assets/img/H_electro.svg" alt="">
    </div>
    <h2 class="mt-3">INFORME CARTERA</h2>
    <div class="titulo">CRECIMIENTO CARTERA</div>

    <div class="titulo">
        <iframe title="Informe Final Jaime Mejia"
            src="https://app.powerbi.com/view?r=eyJrIjoiODUyOTFlOGItMWZkNS00YjgwLTg1ODItYjJlZTBmNWExMGNjIiwidCI6ImEyYmE0MzQ1LTc3NjQtNGQyMi1iNmExLTdjZjUyOGYzYjNhNSIsImMiOjR9"
            frameborder="0" allowFullScreen="true"></iframe>
    </div>
</div>