<div class="container">
    <div class="row text-center">
        <div class="col-md-8 offset-2">
            <div class="card">
                <div class="card-header">
                    <img src="../../../../assets/Img/H_electro.svg" class="card-img-top">
                </div>
                <div class="card-body">
                    <h2 class="mb-4">Agregar Un Usuario</h2>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Nombre</label>
                                <input [(ngModel)]="usuarios.nombre" type="email" name="nombre" class="form-control" id="exampleFormControlInput1" placeholder="Nombre">
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Apellido</label>
                                <input [(ngModel)]="usuarios.apellido" type="email" name="apellido" class="form-control" id="exampleFormControlInput1" placeholder="Apellido">
                              </div>
                        </div>
                    </div>
                    <div class="row">
                        <div class="col-md-6">
                            <div class="mb-3">
                                <label for="exampleFormControlInput1" class="form-label">Correo</label>
                                <input [(ngModel)]="usuarios.correo" type="email" name="correo" class="form-control" id="exampleFormControlInput1" placeholder="Email">
                              </div>
                        </div>
                        <div class="col-md-6">
                            <div class="mb-3">
                                <select [(ngModel)]="usuarios.idRol" name="idRol" class="form-select" aria-label="Default select example">
                                    <option selected>Elije Un Rol</option>
                                    <option *ngFor="let r of rol" [value]="r.rolId">{{ r.nombreRol }}</option>
                                  </select>
                        </div>
                    </div>
                    <button (click) = "validarUsuario()" class="btn btn-guardar">Guardar</button>
                </div>
        </div>
    </div>
</div>
